<!-- Alfredo Lozano alozano7591@conestogac.on.ca  --> 

<%- include('layouts/header'); -%>
<body>
    
    <header>
        <h1>Your Orders</h1>
    </header>

    <%- include('layouts/nav'); -%>
    <section>
       <table>
           <thead>
               <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>

                    <th>Irish</th>
                    <th>Bourbon</th>
                    <th>Scotch</th>
                    <th>Canadian</th>
                    <th>Delivery</th>

                    <th>Subtotal</th>
                    <th>Tax</th>
                    <th>Total</th>               
                </tr>
           </thead>
           <tbody>
                <%
                    for(var order of orders){
                        %>
                            <tr>
                                <td><%= order.name %></td>
                                <td><%= order.email %></td>
                                <td><%= order.phone %></td> 
                                <td><%= order.address %>, <br>
                                    <%= order.city %>, <br>
                                    <%= order.postalCode %>, <%= order.province %></td>
                                
                                <td><%= order.irish %></td>
                                <td><%= order.bourbon %> </td>
                                <td><%= order.scotch %> </td>
                                <td><%= order.canadian %> </td>

                                <td><%= order.deliveryCost %></td>
                                <td><%= order.subTotal.toFixed(2) %> </td>
                                <td><%= order.tax.toFixed(2) %> </td>
                                <td><%= order.total.toFixed(2) %> </td>
                           </tr>
                        <%
                    }
                %>
           </tbody>
       </table>
    </section>
</body>
<%- include('layouts/footer'); -%>


